.container {
 margin-top: 20px;
 margin-left: 200px;
 margin-right: 200px;
 margin-bottom: 50px;

 padding: 10px 150px 10px 150px;
 
 border-radius: 15px;
 background-color: #c1d4ff
  
 
}

h3 {
 margin-bottom: -20px;
 
}
  
.info {
  text-align: center;
 
}

.college {
 font-size: 16px

}

.date {
 text-align: right;
 font-size: 16px;
 margin-bottom: -15px;
 
}

h5 {
 font-style: italic;
 
}

il {
 font-size: 20px;
 
}
