.container {
 margin-top: 20px;
 margin-left: 200px;
 margin-right: 200px;

 padding: 10px 150px 10px 150px;
 
 border-radius: 15px;
 background-color: #c4cecd
}
  
.info {
  margin: 100px;
 
}
h5 {
 font-style: italic;
}
