.container {
 margin-top: 20px;
 margin-left: 200px;
 margin-right: 200px;

 padding: 10px 150px 10px 150px;
 
 border-radius: 15px;
 background-color: #6d88ff
  
 
}
  
.info {
  text-align: center;
 
}

.date {
 text-align: right;
 font-size: 16px;
}

h5 {
 font-style: italic;
}
